{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}

    <h2>Addresses</h2>

    {{ form_widget(form.addresses) }}

    <a class="btn btn-primary js-add-address" href="#" role="button">Add an address</a>

    {# TODO: заменить на a/input/submit #}
    <br><br>
    <button class="btn btn-success mb-2">{{ button_label|default('Save') }}</button>

    {{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
