{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}

    <h2>Addresses</h2>

{#    <div class="addresses" data-prototype="{{ form_widget(form.addresses.vars.prototype)|e('html_attr') }}">#}
{#        #}{# @var address \App\Entity\Address #}
{#        {% for address in form.addresses %}#}
{#            <div class="row">#}
{#                <div class="col-4">{{ form_row(address.city) }}</div>#}
{#                <div class="col-8">{{ form_row(address.address) }}</div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}

    {{ form_widget(form.addresses) }}

    <a class="btn btn-primary js-add-address" href="#" role="button">Add an address</a>

    {# TODO: заменить на a/input/submit #}
    <br><br>
    <button class="btn btn-success mb-2">{{ button_label|default('Save') }}</button>

    {{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
