{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}

    <h2>Addresses</h2>
    <div class="form-group">
        {{ form_widget(form.addresses) }}
    </div>
    <div class="form-group">
        <a class="btn btn-info js-add-address" href="#" role="button"
           data-address-limit="{{ constant('ADDRESS_LIMIT', client) }}">Add an address</a>
    </div>

    <div class="form-group">
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>

    {{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
