{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('client') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('client') }}
{% endblock %}

{% block title %}New Client{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Client</h1>

        <a class="btn btn-primary" href="{{ path('client_index') }}">Back to list</a>

        {{ include('client/_form.html.twig') }}
    </div>
{% endblock %}

